.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo {
    height: 100%;
    width: 80px;
    //padding-left: 25px;
}

.link-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        color: #323232;

        &:hover {
            color: #FDCC08;
        }
    }
}